h1 {
    text-align: center;
    color: #6c757d;
    padding: 2rem;
    font-weight: normal;
    font-size: 2em; /* Increase font-size for more prominence */
}

.questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    max-width: 600px; /* Limit the width of the questions container */
    margin: 0 auto; /* Center the questions container */
}

.questions .btn-secondary {
    background-color: #efe3cb;
    color: #6c757d;
    margin-bottom: 1rem;
    border: none;
    padding: 15px 20px; /* Increase padding for larger buttons */
    width: 100%; /* Make buttons full width for better touch experience on mobile devices */
    transition: background-color 0.2s ease; /* Smooth transition on hover */
}

.questions .btn-secondary:hover {
    background-color: #d6c5a8;
    cursor: pointer;
}

.questions .btn-secondary:active {
    background-color: #bfad85;
}

.questions .answer {
    width: 100%;
    margin-top: 2rem;
}

.questions .answer .list-group-item {
    background-color: #efe3cb;
    color: #6c757d;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    padding: 10px 15px; /* Increase padding for better readability */
    transition: background-color 0.2s ease; /* Smooth transition on hover */
}

.questions .answer .list-group-item:hover {
    background-color: #d6c5a8;
}

.questions .button {
    margin-top: 2rem;
    border: none;
    padding: 15px 20px; /* Increase padding for a larger submit button */
    width: 100%; /* Make the submit button full width */
    transition: background-color 0.2s ease; /* Smooth transition on hover */
}
