.perfil {
  margin-top: 2rem;
  margin-left: 8%;
  margin-right: 8%;
}

.container {
  text-align: center;
}

.perfil_contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registro {
  background-color: #efe3cb;
  margin: 8%;
  margin-top: 3rem;
  padding: 2rem;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
}

.registro Form {
  margin-top: 1rem;
}

.registro .mb-3 {
  background-color: #f5f1e5;
  margin: 2rem;
  border-radius: 8px;
  margin-bottom: 2.5rem !important;
  padding: 2rem;
}

.registro .form-label {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.registro .form-control, .registro .form-select {
  width: 70%;
  background-color: #f5f1e5;
  border: none;
  border-radius: 0%;
  border-bottom: rgb(158, 156, 156);
  border-bottom-style: solid;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.registro .btn {
  background-color: #bfb192;
  color: white;
}