.botonDimension {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .botonDimension .btn {
    font-size: 16px;
    height: 45px;
    width: 345px; /* Cambia el valor según el ancho deseado */
  }